#footer_area{
    background: $bkColor;
    text-align: center;
    position: relative;

    .top{
        position: absolute;
        cursor: pointer;
        bottom: 10px;
        right: 10px;
        color: white;
    }
    a{
        color: white; 
    }

    .copyright{
        color: $whiteColor;
        p{
            font-size: 14px;
        }
    }
}